/* ############################################################################################# */
/* # FONTS */
/* ############################################################################################# */
@font-face {
  font-family: Bilo;
  src: url('/fonts/bilo3.woff2');
}

@font-face {
  font-family: Contrario;
  src: url('/fonts/contrario.woff2');
}

body {
   font-family: Bilo !important;
}

/* ############################################################################################# */
/* # SITE LAYOUT */
/* ############################################################################################# */
#main-title {
  width: 90%;
  max-width: 90%;
  font-size: 60px;
}

.theme-default-content:not(.custom) {
  max-width: 100%;
  padding: 2rem 2.5rem 0rem !important;
}

footer {
  max-width: 100% !important;
}

div .page-nav {
  max-width: 100% !important;
}

h1 {
  // color: #00B84F;
  font-weight: bold;
  // font-size: 4rem;
  // font-family: Contrario !important;
  // background: linear-gradient(45deg, #253BFE, #FF0000);
  // background-clip: text;
  // -webkit-background-clip: text;
  // -moz-background-clip: text;
  // -moz-text-fill-color: transparent;
  // -webkit-text-fill-color: transparent;
  // display: inline-block
}

h2 {
  // color: #00B84F;
  font-weight: bold;
  // font-family: Contrario !important;
  // background: linear-gradient(45deg, #253BFE, #FF0000);
  // background-clip: text;
  // -webkit-background-clip: text;
  // -moz-background-clip: text;
  // -moz-text-fill-color: transparent;
  // -webkit-text-fill-color: transparent;
  // display: inline-block
}

blockquote > p {
    color: #00B84F !important;
    font-weight: bold;
    font-family: Signifier !important;
    font-size: 1.4rem !important;
}
