/* ############################################################################################# */
/* # SITE LAYOUT */
/* ############################################################################################# */
#main-title {
  width: 90%;
  max-width: 90%;
  font-size: 60px;
}

.theme-default-content:not(.custom) {
  max-width: 100%;
  padding: 2rem 2.5rem 0rem !important;
}

footer {
  max-width: 100% !important;
}

div .page-nav {
  max-width: 100% !important;
}
